@model IEnumerable<web.Model.Order>

@{
    ViewData["Title"] = "Order History";
}

<h2>Order History</h2>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Status</th>
                <th>Shipping Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderDate.ToString("g")</td>
                    <td>@order.ProductName</td>
                    <td>@order.Quantity</td>
                    <td>@order.Price.ToString("C")</td>
                    <td>@order.TotalPrice.ToString("C")</td>
                    <td style ="color: olivedrab;">@order.OrderStatus</td>
                    <td>
                        @order.Recipient<br />
                        @order.Address<br />
                        @order.City, @order.State @order.PostCode
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}
