@model web.Models.Product

@{
    ViewData["Title"] = "Purchase";
}
<div class="nav-bg"></div>
<div class="product-purchase">
<h1>Purchase Product</h1>

<div>
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Quantity available: @Model.Quantity</p>
</div>

<form asp-action="AddToCart" method="post">
    <input type="hidden" name="productId" value="@Model.ID" />
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" class="form-control" min="1" max="@Model.Quantity" value="1" />
    </div>
    <button type="submit" class="btn btn-primary">Add to Cart</button>
    <button type="submit" class="btn btn-success">Purchase</button>
</form>
</div>
